/* Apply to all instances of the specified tag */

/*
p {
    color: red;
  }
i {
    color: red;
  }
    */

/* items prefixed with '.' apply to tags with the specified class */


.random_bug_header {
  //background-color:blue;
  display: flex;
  gap: 15px;
}

/*
Apply this class to a link to have it appear the same as normal text
Markdown example: [Crab]({{site.baseurl}}/docs/Game.html){: .invisible_link}
*/
.invisible_link {
  color: #27262b;
}