<!-- Main content that gets printed for each bug -->
<div class="bug_entry" >
    {% assign images_path = {{site.baseurl}} | append: "/assets/images/" %}
    {% assign bug = include.bug %}

    <h3>{{bug.name}}</h3>
    <i>{{bug.scientific}}</i><br>

    {% if {{bug.desc}} %}
        {{bug.desc}}<br>
    {% endif %}

    {%- for image in bug.images -%}
        {% if image.width %}{% assign width = image.width %}
        {% else %}{% assign width = site.image_width %}{% endif %}
        <img src="{{images_path}}{{image.path}}" title="{{image.location}}, {{image.date}}" width="{{width}}">
    {%- endfor -%}
</div>